//Colors
$brightRed: hsl(12, 88%, 59%);
$darkBlue: hsl(228, 39%, 23%);
$darkGrayishBlue: hsl(227, 12%, 61%);
$veryDarkBlue: hsl(233, 12%, 13%);
$softRed: hsla(13, 92%, 71%, 1);
$veryPaleRed: hsl(13, 100%, 96%);
$veryLightGray: hsl(0, 0%, 98%);
$white: hsl(0, 0%, 100%);

//Buttons Shadows
$brightRedShadow: (0 14px 16px -8px hsla(12, 88%, 59%, .5));
$darkBlackShadow: (0 14px 16px -8px hsla(0, 0%, 0%, 0.16));
//Font Sizes
$font-sm: 0.875rem; // 14px
$font-md: 1rem; // 16px